body {
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	margin: 0;
	padding: 0;
	width: 100vw;
}

#drawContainer {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

#canv {
	width: 80vw;
	height: 100vh;
	background-color: white;
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

#palette {
	background-color: grey;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 20vw;
	margin: 0;
	padding: 10px;
}

#palette * {
	margin: 0;
}

u {
	margin: 0;
	padding: 0;
}

.inputPair {
	display: flex;
	padding: 5px;
	flex-direction: column;
}
